### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame({
    "Total Players": [total_players],
})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
total_purchase_value = (sum(purchase_data["Price"]))

purchasing_analysis = pd.DataFrame({
    "Unique items": [unique_items],
    "Average price": [average_price],
    "Total Purchase Value": [total_purchase_value]
})
purchasing_analysis

   Unique items  Average price  Total Purchase Value
0           179       3.050987               2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchases_unique = purchase_data.drop_duplicates("SN")
player_genders = purchases_unique["Gender"].value_counts()
unique_players = purchases_unique["SN"].value_counts()
total_players = len(purchases_unique["SN"])
percentage_of_players = (player_genders / total_players) * 100
gender_demographics = pd.DataFrame({"Total Players" : player_genders,
                                    "Percentage of Players" : percentage_of_players})
#add formatting
gender_demographics

                       Total Players  Percentage of Players
Male                             484              84.027778
Female                            81              14.062500
Other / Non-Disclosed             11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count = purchase_data.groupby("Gender")["Purchase ID"].count()
average_purchase_price = (purchase_data.groupby("Gender")["Price"].mean()).map("${:.2f}".format)
purchase_total_gender = (purchase_data.groupby("Gender")["Price"].sum()).map("${:.2f}".format)
purchases_total_per_person = (purchase_data.groupby("Gender").apply(lambda x: x["Price"].sum()/x["SN"].nunique())).map("${:.2f}".format)
per_person_df = pd.DataFrame({"Total" : purchases_total_per_person})
merge_df = pd.merge(purchase_count, average_purchase_price, on="Gender")
merge_df = pd.merge(merge_df, purchase_total_gender, on="Gender")
merge_df = pd.merge(merge_df, per_person_df, on="Gender")
merge_df = merge_df.rename(columns={"Purchase ID" : "Purchase Count",
                          "Price_x" : "Average Purchase Price",
                          "Price_y" : "Total Purchase Value",
                          "Total" : "Avg Total Purchase per Person"})

merge_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

age_ranges = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

reduced_data = purchase_data.drop_duplicates("SN")

pd.cut(reduced_data["Age"], bins, labels=age_ranges)



reduced_data["Age Group"] = pd.cut(reduced_data["Age"], bins, labels=age_ranges)

total_count = reduced_data["Age Group"].value_counts()
percentage_of_players = ((total_count/total_players)*100).map("{:.2f}%".format)

age_demographics = pd.DataFrame({"Total Count" : total_count,
                                "Percentage of Players" : percentage_of_players})

age_demographics

C:\Users\Veron\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

          Total Count Percentage of Players
20-24             258                44.79%
15-19             107                18.58%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
10-14              22                 3.82%
Under 10           17                 2.95%
40+                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

age_ranges = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data["Age"], bins, labels=age_ranges)

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_ranges)

purchase_count = purchase_data["Age Group"].value_counts()

total_purchase_value = (purchase_data.groupby("Age Group")["Price"].sum()).map("${:.2f}".format)

average_purchase_price =  (purchase_data.groupby("Age Group")["Price"].mean()).map("${:.2f}".format)

avg_total_per_person = (purchase_data.groupby("Age Group").apply(lambda x: x["Price"].sum()/x["SN"].nunique())).map("${:.2f}".format)

age_purchases_df = pd.DataFrame({"Purchase Count" : purchase_count,
                                "Average Purchase Price" : average_purchase_price,
                                "Total Purchase Value" : total_purchase_value,
                                "Avg Total Purchase per Person" : avg_total_per_person})

age_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Under 10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
user_purchase_count = purchase_data.groupby("SN")["Item ID"].count()
average_purchase_price_user = (purchase_data.groupby("SN")["Price"].mean()).map("${:.2f}".format)
total_purchase_value_user = (purchase_data.groupby("SN")["Price"].sum()).map("${:.2f}".format)

top_spenders_df = pd.DataFrame({"Purchase Count" : user_purchase_count,
                                "Average Purchase Price" : average_purchase_price_user,
                                "Total Purchase Value" : total_purchase_value_user})
#### Get with Fred on this, why isn't sorting by Total Purchase Value working?
top_spenders_sorted = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False)

top_spenders_sorted.head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
purchase_counts = purchase_data["Item ID"].value_counts()
item_price = (purchase_data.groupby(["Item ID","Item Name"]).apply(lambda x: x["Price"])).map("${:.2f}".format)
total_purchase_value_popular = (purchase_data.groupby(["Item ID", "Item Name"]).apply(lambda x: x["Price"].sum())).map("${:.2f}".format)
total_purchase_value_popular
most_popular_items = pd.DataFrame({"Purchase Count" : purchase_counts,
                                "Item Price" : item_price,
                                "Total Purchase Value" : total_purchase_value_popular})

most_popular_items

C:\Users\Veron\Anaconda\envs\PythonData\lib\site-packages\pandas\core\indexes\base.py:2192: RuntimeWarning: '<' not supported between instances of 'tuple' and 'int', sort order is undefined for incomparable objects
  return Index.union(this, other, sort=sort).astype(object, copy=False)

TypeError: object of type 'int' has no len()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
most_profitable = most_popular_items.sort_values(["Total Purchase Value"], ascending=False)
most_profitable.head()